<% layout('layouts/boilerplate') %>

<div class="card mx-width mx-auto px-2 w-90">
  <div class="card-body">
    <form
      action="/accounts/edit"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="d-flex gap-3 gap-sm-4 mb-3 align-items-center w-100">
        <img
          src="<%= user.dp.url ? user.dp.url : defaultDp %>"
          alt=""
          class="rounded-circle profile-image-edit"
        />
        <div class="d-flex flex-column w-100 username-overflow">
          <h2 class="fw-normal fs-5 my-0 w-90 username-overflow">
            <%= user.username %>
          </h2>
          <a href="/accounts/profilepicture" class="fs-7 fw-5 my-0"
            >Change profile photo</a
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label fw-5">Name</label>
        <input
          type="text"
          name="user[fullName]"
          class="form-control"
          placeholder="Name"
          id="name"
          value="<%= user.fullName %>"
        />
        <p class="text-muted fs-8 w-90 mt-2">
          Help people discover your account by using the name you're known by:
          either your full name, nickname, or business name.
        </p>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label fw-5">Username</label>
        <input
          type="text"
          name="user[username]"
          class="form-control"
          placeholder="Username"
          required
          value="<%= user.username %>"
        />
      </div>
      <div class="mb-3">
        <label for="bio" class="form-label fw-5">Bio</label>
        <textarea
          name="user[bio]"
          id="userbio"
          class="form-control noscrollbars"
          onkeyup="autoGrow(this);"
        >
<%= user.bio %></textarea
        >
        <div class="fs-8 text-muted mt-2 ms-1">
          Must be less tha 150 characters.
        </div>
      </div>
      <div class="mb-4">
        <div class="text-muted fs-7 fw-5 mb-1">Personal information</div>
        <div class="fs-8 mb-2 text-muted">
          Provide your personal information. This won't be a part of your public
          profile.
        </div>
        <label for="email" class="form-label fw-5">Email</label>
        <input
          type="email"
          name="user[email]"
          class="form-control"
          placeholder="Email"
          id="email"
          required
          value="<%= user.email %>"
        />
      </div>
      <div class="d-flex justify-content-between align-items-center py-1 mb-2">
        <button class="btn btn-primary btn-sm spinner">Submit</button>
        <a class="fs-7 fw-5" href="/accounts/password/change"
          >Change password</a
        >
      </div>
    </form>
  </div>
</div>
