<% layout('layouts/boilerplate') %>

<div class="card mx-width mx-auto px-2 w-90">
  <div class="card-body">
    <form
      action="/accounts/edit"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="d-flex gap-4 mb-3 align-items-center">
        <img
          src="https://d33wubrfki0l68.cloudfront.net/fb0ba0cbcadbdf0b2ffabf331d2345fb05106e16/20663/images/profile-picture.webp"
          alt=""
          class="rounded-circle profile-image-edit"
        />
        <div>
          <h2 class="fw-normal fs-5 my-0"><%= user.username %></h2>
          <a href="" class="fs-7 fw-5 my-0">Change profile photo</a>
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label fw-5">Name</label>
        <input
          type="text"
          name="fullName"
          class="form-control"
          placeholder="Name"
          id="name"
          value="<%= user.fullName %>"
        />
        <p class="text-muted fs-8 w-90 mt-2">
          Help people discover your account by using the name you're known by:
          either your full name, nickname, or business name.
        </p>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label fw-5">Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Username"
          required
          value="<%= user.username %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="bio" class="form-label fw-5">Bio</label>
        <textarea name="bio" id="bio" class="form-control">
<%= user.bio %></textarea
        >
        <div class="fs-8 text-muted mt-2 ms-1">0/150</div>
      </div>
      <div class="mb-4">
        <div class="text-muted fs-7 fw-5 mb-1">Personal information</div>
        <div class="fs-8 mb-2 text-muted">
          Provide your personal information. This won't be a part of your public
          profile.
        </div>
        <label for="email" class="form-label fw-5">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Email"
          id="email"
          required
          value="<%= user.email %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-primary btn-sm py-1">Submit</button>
    </form>
  </div>
</div>
