<% layout('layouts/boilerplate') %>

<div class="mx-width mx-auto mt-4">
  <h2 class="fs-4 mb-4 ms-3 ms-sm-1">Suggestions For You</h2>
  <div class="card mt-sm-4">
    <div class="card-body my-0 mt-sm-2 pb-0">
      <% if(listUsers.length) { for(let user of listUsers){ %>
      <div class="d-flex mb-4 align-items-center justify-content-between mx-2">
        <div class="left d-flex gap-2 gap-sm-3 w-65">
          <a href="/<%= user.username %>">
            <img
              src="<%= user.dp.url ? user.dp.url : defaultDp %>"
              alt=""
              class="rounded-circle profile-image-list"
            />
          </a>
          <div
            class="d-flex justify-content-center flex-column align-self-center w-85 username-overflow"
          >
            <a
              href="/<%= user.username %>"
              class="text-reset fw-semibold fs-7 username-overflow"
            >
              <%= user.username %>
            </a>
            <% if (user.fullName){ %>
            <div class="fs-7 my-n1 text-muted username-overflow">
              <%= user.fullName %>
            </div>
            <% } %>
          </div>
        </div>
        <div class="right">
          <% if(currentUser && !user._id.equals(currentUser._id)){ %>
          <form
            action="/follow/<%= user._id %>/<% if (!(currentUser && currentUser.following.includes(user._id))){ %>follow<% } else { %>unfollow<% } %>"
            method="POST"
            class="follow-form"
          >
            <% if (!(currentUser && currentUser.following.includes(user._id))){
            %>
            <button class="btn btn-primary btn-sm px-3 btn-follow">
              Follow
            </button>
            <% } else { %>
            <button class="btn btn-outline-secondary btn-sm px-3 btn-unfollow">
              <span class="fs-7 fw-5">Following</span>
            </button>
            <% } %>
          </form>
          <% } else if (!currentUser){%>
          <a href="/login">
            <button class="btn btn-primary btn-sm px-3 btn-follow">
              Follow
            </button>
          </a>
          <% }%>
        </div>
      </div>
      <% }} %>
    </div>
  </div>
</div>
