<% layout('layouts/boilerplate') %> <% for (post of posts){ %>
<div class="card my-3 mx-width mx-auto">
  <div class="card-body">
    <div class="d-flex w-100 gap-3">
      <div class="flex-shrink-0">
        <img
          src="https://d33wubrfki0l68.cloudfront.net/fb0ba0cbcadbdf0b2ffabf331d2345fb05106e16/20663/images/profile-picture.webp"
          alt=""
          class="rounded-circle profile-image"
        />
      </div>
      <div class="d-flex flex-column justify-content-center m-0">
        <a
          href="/<%= post.user.username %>"
          class="fs-7 fw-bolder mb-0 text-reset"
          ><%= post.user.username %></a
        >
      </div>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn ms-auto btn-custom"
        data-bs-toggle="modal"
        data-bs-target="#post<%= post._id %>"
      >
        <i class="fa-solid fa-ellipsis-vertical fs-6"></i>
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="post<%= post._id %>"
        tabindex="-1"
        aria-labelledby="<%= post._id %>Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-sm modal-dialog-centered">
          <div class="modal-content">
            <% if (currentUser && post.user.equals(currentUser)) { %>
            <div class="modal-body text-center border-bottom">
              <form
                action="/posts/<%= post._id %>?_method=DELETE"
                method="POST"
              >
                <button
                  class="btn btn-outline-danger btn-delete btn-custom py-0 ms-auto"
                >
                  Delete
                </button>
              </form>
            </div>
            <div class="modal-body text-center border-bottom">
              <a href="/posts/<%= post._id %>/edit" class="text-reset">Edit</a>
            </div>
            <% } %>
            <div class="modal-body text-center">
              <a href="/posts/<%= post._id %>" class="text-reset">Go to post</a>
            </div>
            <div class="modal-footer text-center">
              <button
                type="button"
                class="btn btn-custom py-0 mx-auto"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="<%= post.image %>" alt="" class="img-fluid" />
  <div class="card-body">
    <div class="d-flex gap-3 my-1">
      <a href="" class="text-reset">
        <i class="fa-regular fa-heart"></i>
      </a>
      <a href="" class="text-reset">
        <i class="fa-regular fa-comment"></i>
      </a>
      <a href="" class="text-reset">
        <i class="fa-solid fa-paper-plane"></i>
      </a>
    </div>
    <small class="fw-bolder">100 likes</small>
    <br />
    <% if(post.caption){ %>
    <p class="fs-7 mb-1"><b><%= post.user.username %></b> <%=post.caption %></p>
    <% } %>
    <a href="/posts/<%= post._id %>" class="text-muted fs-7 mb-2"
      >View all comments</a
    >
    <p class="text-muted fs-7 mb-0">
      <small><%= post.date%> </small>
    </p>
  </div>
</div>
<% } %>
